@font-face {
  font-family: "Duckinator";
  src: url("duckinator.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  user-select: none;
  font-family: "Times New Roman";
}

.annotation {
  font-size: 24px;
  color: black;
  font-weight: 700;
  padding: 10px;
  background-color: #f7f7f7;
}

.quotation {
  font-size: 42px;
  color: black;
  font-family: "Xanh Mono";
  font-style: italic;
  background-color: #f7f7f7;
}

button {
  all: unset;
  cursor: pointer;

  font-size: 16px;
  border: none;
}

textarea:focus-visible {
  outline: none;
}

.blinking {
  color: black;
  animation: blinking 3s infinite;
  /* background: #0010ff; */
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

@keyframes blinking {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
